<%- include('includes/head.ejs') %>

<%- include('includes/nav.ejs') %>




  <div class="wrapper_2">
   BURADA KULLANICININ SKORLARI TUTULACAK?
    <!-- <div class="content">



      <div class="tab-content pt-2" id="myTabContent">
        <div class="tab-pane fade show active" id="math" role="tabpanel" aria-labelledby="math-tab">
          <h3>Matematik Soruları</h3>
          <% if (mathQuestions && mathQuestions.length> 0) { %>
            <% mathQuestions.forEach((question)=> { %>
              <div class="question ml-sm-5 pl-sm-5 pt-2">
                <% if (question.resim_yol && question.resim_yol.data) { %>
                  <img
                    src="data:<%= question.resim_yol.contentType %>;base64,<%= question.resim_yol.data.toString('base64') %>"
                    alt="Resim" style="max-width: 60%; height: auto;">
                  <% } %>
                    <div class="py-2 h5"><b>Q. <%= question.description %></b></div>
                    <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                      <% question.options.forEach((option, index)=> { %>
                        <label class="options">
                          <%= option %>
                            <input type="radio" name="radio" value="<%= index + 1 %>">
                            <span class="checkmark"></span>
                        </label>
                        <% }); %>
                    </div>
              </div>


              <div class="d-flex align-items-center pt-3">
                <div class="d-flex align-items-center pt-3">
                  <div id="prev">
                    <button class="btn btn-primary">Previous</button>
                  </div>
                  <div class="ml-auto mr-sm-5">
                    <button class="btn btn-success">Next</button>
                  </div>
                </div>
              </div>
              <% }); %>
                <% } else { %>
                  <p>Matematik soruları henüz yüklenmedi.</p>
                  <% } %>
        </div>

        <div class="tab-pane fade" id="tr" role="tabpanel" aria-labelledby="tr-tab">
          <div class="difficulty-selection">
            <label for="difficulty">Zorluk Seviyesi Seçin:</label>
            <select id="difficulty">
              <option value="Kolay">Kolay</option>
              <option value="Orta">Orta</option>
              <option value="Zor">Zor</option>
            </select>
            <button id="loadQuestionsBtn" class="btn btn-primary">Soruları Yükle</button>
          </div>
          <h3>Türkçe Soruları</h3>
          <% if (turkishQuestions && turkishQuestions.length> 0) { %>
            <% turkishQuestions.forEach((question, index)=> { %>
              <div class="question ml-sm-5 pl-sm-5 pt-2">
                <% if (question.resim_yol && question.resim_yol.data) { %>
                  <img
                    src="data:<%= question.resim_yol.contentType %>;base64,<%= question.resim_yol.data.toString('base64') %>"
                    alt="Resim" style="max-width: 60%; height: auto;">
                  <% } %>
                    <div class="py-2 h5"><b>Q. <%= question.description %></b></div>
                    <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                      <% question.options.forEach((option, index)=> { %>
                        <label class="options">
                          <%= option %>
                            <input type="radio" name="radio" value="<%= index + 1 %>">
                            <span class="checkmark"></span>
                        </label>
                        <% }); %>
                    </div>
              </div>
              <div class="d-flex align-items-center pt-3">
                <div class="d-flex align-items-center pt-3">
                  <div id="prev">
                    <button class="btn btn-primary">Previous</button>
                  </div>
                  <div class="ml-auto mr-sm-5">
                    <button class="btn btn-success">Next</button>
                  </div>
                </div>
              </div>
              <% }); %>
                <% } else { %>
                  <p>Türkçe soruları henüz yüklenmedi.</p>
                  <% } %>
        </div>


        <div class="tab-pane fade" id="chem" role="tabpanel" aria-labelledby="chem-tab">
          <div class="difficulty-selection">
            <label for="difficulty">Zorluk Seviyesi Seçin:</label>
            <select id="difficulty">
              <option value="Kolay">Kolay</option>
              <option value="Orta">Orta</option>
              <option value="Zor">Zor</option>
            </select>
            <button id="loadQuestionsBtn" class="btn btn-primary">Soruları Yükle</button>
          </div>
          <h3>Kimya Soruları</h3>
          <% if (chemistryQuestions && chemistryQuestions.length> 0) { %>
            <% chemistryQuestions.forEach((question)=> { %>
              <div class="question ml-sm-5 pl-sm-5 pt-2">
                <% if (question.resim_yol && question.resim_yol.data) { %>
                  <img
                    src="data:<%= question.resim_yol.contentType %>;base64,<%= question.resim_yol.data.toString('base64') %>"
                    alt="Resim" style="max-width: 60%; height: auto;">
                  <% } %>
                    <div class="py-2 h5"><b>Q. <%= question.description %></b></div>
                    <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                      <% question.options.forEach((option, index)=> { %>
                        <label class="options">
                          <%= option %>
                            <input type="radio" name="radio" value="<%= index + 1 %>">
                            <span class="checkmark"></span>
                        </label>
                        <% }); %>
                    </div>
              </div>
              <div class="d-flex align-items-center pt-3">
                <!-- Previous ve Next butonları -->
              <!-- </div>
              <% }); %>
                <% } else { %>
                  <p>Kimya soruları henüz yüklenmedi.</p>
                  <% } %>
        </div>
      </div> -->
    <!-- </div>
  </div> -->

  <!-- Add Bootstrap JS script here -->
  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
    </script>







  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const loadQuestionsBtn = document.getElementById('loadQuestionsBtn');
    
      function fetchQuestions(difficulty) {
        fetch(`/api/questions?difficulty=${difficulty}`)
          .then((response) => {
            if (!response.ok) {
              throw new Error('Sunucudan geçersiz yanıt alındı.');
            }
            // JSON verisini döndürün
            return response.json();
          })
          .then((data) => {
            // Gelen veriyi kullanarak güncellemeler yapın
            updateTabContent('math', data); // data, istenen soruları içerir
            updateTabContent('tr', data);
            updateTabContent('chem', data);
          })
          .catch((error) => {
            console.error('Hata oluştu:', error);
          });
      }
    
      loadQuestionsBtn.addEventListener('click', function () {
        const selectedDifficulty = document.getElementById('difficulty').value;
        fetchQuestions(selectedDifficulty);
      });
    
      function updateTabContent(subject, questions) {
        const tabContent = document.getElementById(subject);
        tabContent.innerHTML = '';
    
        if (questions && questions.length > 0) {
          questions.forEach((question) => {
            // Soruların listesi oluşturulacak
            const questionElement = document.createElement('div');
            // Soru içeriğini, seçenekleri ve diğer detayları burada oluşturun
            questionElement.innerHTML = `
              <div class="question ml-sm-5 pl-sm-5 pt-2">
                <div class="py-2 h5"><b>Q. ${question.description}</b></div>
                <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                  ${question.options.map((option, index) => `
                    <label class="options">
                      ${option}
                      <input type="radio" name="radio" value="${index + 1}">
                      <span class="checkmark"></span>
                    </label>
                  `).join('')}
                </div>
              </div>
            `;
            tabContent.appendChild(questionElement);
          });
        } else {
          const notLoadedMessage = document.createElement('p');
          notLoadedMessage.textContent = 'Sorular henüz yüklenmedi.';
          tabContent.appendChild(notLoadedMessage);
        }
      }
    });
  </script>
  
</body>

</html>